<%- include("partials/header"); -%>
<h1>Add a face</h1>
<%= typeof msg != 'undefined' ? msg : '' %>
<form action="/addFace" method="POST">
  <label>Name</label>
  <input name="nameFace" type="text" />
  <br />
  <br />
  <br />
  <button type="submit">create name and folder</button>
</form>

<%- include("partials/footer"); -%>
