<%- include("partials/header"); -%>
<h1>Add a face</h1>
<form action="/addFace" method="POST">
  <label>Name</label>
  <input type="text" name="nameFace" />
  <button type="submit">Add</button>
</form>
<%- include("partials/footer"); -%>
