<%- include("partials/header"); -%>
<h1>upload a face</h1>

<%= typeof msg != 'undefined' ? msg : '' %>

<form action="/addFace/upload" method="POST" enctype="multipart/form-data">
  <label>upload face</label>

  <span>JPG ONLY!!!</span>

  <input name="myImage1" type="file" />
  <br />
  <input name="myImage2" type="file" />

  <button type="submit">Submit</button>
</form>
<%- include("partials/footer"); -%>
